
$color-navegacion:darkorange;
$color-footer: darkorange;
$color-fondo: #E9BA8F;
$color-fuerte: red;
$color-oscuro:blue;
$color-black:black;



$imagen-banner-1: '..//Asset/Img/perro-banner.jpg';
$imagen-banner-2: '..//Asset/Img/banner-adopciones.jpg';


$color-boton: brown;
