
$color-navegacion:darkorange;
$color-footer: darkorange;
$color-fondo: #E9BA8F;
$color-fuerte: red;
$color-oscuro:blue;
$color-black:black;



$imagen-banner-1: '..//Asset/Img/perro-banner.jpg';
$imagen-banner-2: '..//Asset/Img/banner-adopciones.jpg';


$color-boton: brown;
$ancho:(
ancho-100:100%,
ancho-90:90%,
ancho-80:80%,
ancho-70:70%,
ancho-60:60%,
ancho-50:50%,
ancho-40:40%,
ancho-30:30%,
ancho-20:20%,
ancho-10:10%,
ancho-5:5%,
ancho-1:1%,


);
   